body {
  font-family: Arial;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  background: #222;
  color: white;
  padding: 10px;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 10px;
  border-right: 1px solid gray;
}

.sidebar input,
.sidebar select,
.sidebar button {
  width: 100%;
  margin-bottom: 8px;
}

.main {
  flex: 1;
  padding: 10px;
}

.fleet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 60px;
}
